<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Blog</a></h1>
        </div>

        <div>
            <p>published: 14.07.2016, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>O no this was during the wedding.</p>
        </div>

        <div>
            <p>published: 15.07.2012, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>You were like, eaj uh I'm cleaning. I was like, hej do you want a relationship ^^?.</p>
        </div>
    </body>
</html>